files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/04_asvar.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo yum install git -yq
      export EXTERNAL_URL="ch100-env.eu-west-2.elasticbeanstalk.com"
      export SECRET_KEY_BASE="dummykey"
      export DATABASE_URL="postgresql://$RDS_USERNAME:$RDS_PASSWORD@$RDS_HOSTNAME/$RDS_DB_NAME"
      export GOVUK_NOTIFY_API_KEY="dummyvalue"
      echo 'export EXTERNAL_URL="ch100-env.eu-west-2.elasticbeanstalk.com"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export SECRET_KEY_BASE="dummy"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export DATABASE_URL="postgresql://$RDS_USERNAME:$RDS_PASSWORD@$RDS_HOSTNAME/$RDS_DB_NAME"' >> /opt/elasticbeanstalk/support/envvars
      echo 'export GOVUK_NOTIFY_API_KEY="dummyvalue"' >> /opt/elasticbeanstalk/support/envvars

      

