packages:
  yum:
    git: []
commands:
  01_set_key:
    command: "source /home/ec2-user/setup.sh"
files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      export SECRET_KEY_BASE="dummykey"
      export DATABASE_URL="postgresql://$RDS_USERNAME:$RDS_PASSWORD@$RDS_HOSTNAME/$RDS_DB_NAME"
      export GOVUK_NOTIFY_API_KEY="dummyvalue"
