packages:
  yum:
    git: []
commands:
   01_set_secret_key:
        command:"export SECRET_KEY_BASE=dummy"
   02_set_database_url:
        command:"export DATABASE_URL=postgresql://$RDS_USERNAME:$RDS_PASSWORD@$RDS_HOSTNAME/$RDS_DB_NAME"
   03_set_gov_uk:
        command:"export GOVUK_NOTIFY_API_KEY="dummyvalue"
   04_set_url:
        command:"export EXTERNAL_URL=c200test-env.eu-west-2.elasticbeanstalk.com" 
#files:
# "/opt/elasticbeanstalk/hooks/appdeploy/pre/04_asvar.sh":
#   mode: "000755"
#   owner: root
#   group: root
#   content: |
#     #!/usr/bin/env bash
#     export SECRET_KEY_BASE="dummykey"
#     export DATABASE_URL="postgresql://$RDS_USERNAME:$RDS_PASSWORD@$RDS_HOSTNAME/$RDS_DB_NAME"
#     export GOVUK_NOTIFY_API_KEY="dummyvalue"
#     sudo echo 'export SECRET_KEY_BASE="dummy"' >> /opt/elasticbeanstalk/support/envvars
#     sudo echo 'export DATABASE_URL="postgresql://$RDS_USERNAME:$RDS_PASSWORD@$RDS_HOSTNAME/$RDS_DB_NAME"' >> /opt/elasticbeanstalk/support/envvars
#     sudo echo 'export GOVUK_NOTIFY_API_KEY="dummyvalue"' >> /opt/elasticbeanstalk/support/envvars
